/* http://meyerweb.com/eric/tools/css/reset/     v2.0 | 20110126    License: none (public domain) */  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; } body *{box-sizing: border-box} html{ scroll-behavior: smooth }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  GENERAL                                                                ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

body{
  background: var(--champagne);
  cursor: url('../MEDIA/ICONS/cursor-cirlce.png') 12 12, auto;
  
  font-family: 'Montserrat', sans-serif;
  color: var(--olive);
}

button{ font-size: 1rem }

body *{
  font-variant-ligatures: none;
}

h1,h2{
  font-family: 'Matao', serif;
}

a{ text-decoration: none }

.screen-reader-only{
  position: fixed;
  top: -100px; left: -100px;
  width: 0px; height: 0px;
  padding: 0px;
  opacity: 0;
}

a,button:hover{ cursor: url('../MEDIA/ICONS/cursor-cirlce-hover.png') 12 12, auto }

svg.blob{ transition: transform .5s linear;}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  NAVIGATION                                                             ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.nav-wrapper{}

nav{
  position: fixed;
  z-index: 999;
}

/* FOR QUERIES */
nav .mobile{ display: flex }
nav .desktop{ display: none }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  TOP                                                                    ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav.top{
  top: 0; left: 0;
  width: 100%;
}

nav.top .logo{
  display: flex;
    align-items: center;
  color: var(--olive);
}

nav.top .name{
  font-family: 'Matao', serif;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  MOBILE                                                                 ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav.top .mobile{
  /* FLEX */
    justify-content: space-between;
    align-items: stretch;
  width: 100%;
  border-bottom: 1px solid var(--olive);
  background: var(--champagne);
}


/*::::::::::::::::::  LOGO  ::::::::::::::::::*/

nav.top .mobile .logo img{
  height: 48px;
  padding: 8px;
  border-right: 1px solid var(--olive);
}

nav.top .mobile .logo .name{
  display: none;
}

nav.top .mobile .logo-name{
  display: flex;
  padding: 8px;
  font-family: 'Matao', serif;
  font-size: 2em;

  transform: translateY(1px);
}

/*::::::::::::::::::  LINK LIST  ::::::::::::::::::*/

nav.top .mobile ul.link-list{
  display: none;
  /* display: flex; */
  font-size: .8em;
  text-transform: uppercase;
}

nav.top .mobile ul.link-list li a{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  height: 100%;
  padding: 4px 8px 0 8px;
  color: var(--olive);
}

nav.top .mobile ul.link-list li a:hover{ text-decoration: underline }
nav.top .mobile ul.link-list li a:focus{ outline: none; font-weight: 700 }

/*::::::::::::::::::  NAV BUTTONS  ::::::::::::::::::*/

nav.top .buttons{
  display: flex;
}

nav.top .buttons button{
  background: none;
  border: none;
    border-left: 1px solid var(--olive);
}

nav.top button.cart img{
  height: 44px;
  padding: 8px;
}

nav.top button.mobile-menu{
  padding: 8px 12px;
}

nav.top button.mobile-menu .rect{
  width: 24px;
  height: 4px;
  background: var(--olive);
  margin-bottom: 4px;
}

nav.top button.mobile-menu .rect:last-of-type{
  margin-bottom: 0;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  HIDDEN SIDE                                                            ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav.hidden-side[data-state='inactive']{ right: -240px }
nav.hidden-side[data-state='active']{ right: 0 }

nav.hidden-side{
  position: fixed;
    top: 51px;
    width: 240px;
    height: calc(100vh - 51px);
    border-left: 1px solid var(--olive);
    background: var(--champagne);

    transition: right .1s linear;
}

nav.hidden-side li a{
  display: block;
  padding: 8px;
  border-bottom: 1px solid var(--olive);
  color: var(--olive);
}

nav.hidden-side li a:hover{
  background: var(--olive);
  color: var(--champagne);
}

nav.hidden-side > ul > li > a{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;;
  padding: 12px 8px;
}

nav.hidden-side > ul > li > ul > li > a {
  font-size: .85em;
  font-weight: 700;
  text-transform: uppercase;
}

nav.hidden-side > ul > li > ul > li > ul > li > a {
  font-size: .85em;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  SECTIONS                                                               ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

section{
  width: 100%;
  min-height: 100px;
  border-bottom: 1px solid var(--olive);
  overflow: hidden;
}

section .content-wrap{
  width: calc(100% - 16px);
    max-width: 1000px;
  margin: 0 auto;
  padding: 16px 0;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  LINKS & BUTTONS                                                        ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

a.arrowed,
button.arrowed,
button.to-cart{
  background: none;
  border: 1px solid var(--olive);
  padding: 8px;

  font-family: 'Matao', serif;
  color: var(--olive);
}

button.to-cart{
  background: var(--olive);
  color: var(--champagne);
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  BORDERED BLOCKS                                                        ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.bordered-block{
  position: relative;
  /* border: 1px solid var(--olive); */
}

.bordered-block .row{
  position: relative;
  display: flex;
    flex-wrap: wrap;
  border: 1px solid var(--olive);
    border-top: none;
  z-index: 10; /* To Prevent Blobs on Top */
}

.bordered-block .row:first-of-type{
  border-top: 1px solid var(--olive);
}

.bordered-block .row > div,
.bordered-block .row > h2,
.bordered-block .row > p{
  padding: 8px;
  border-right: 1px solid var(--olive);
}

.bordered-block .row > *:last-child{ border-right: none }

/*::::::::::::::::::  RATING  ::::::::::::::::::*/

.bordered-block .row .rating{
  display: flex;
  padding: 16px 8px;
}

.bordered-block .row .rating img{
  height: 24px;
  margin-right: 4px;
}

.bordered-block .row .rating img:last-of-type{ margin-right: 0 }

/*::::::::::::::::::  PRICE  ::::::::::::::::::*/

.bordered-block .row .price{
  display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
  font-family: 'Matao', serif;
  font-size: 2.5em;
  padding-right: 12px;
}

.bordered-block .row .price .sign{ font-size: .66em }
.bordered-block .row .price .number{ letter-spacing: 2px }

/*::::::::::::::::::  PIECES & MEASURE  ::::::::::::::::::*/

.bordered-block .row .pieces{
  display: flex;
  padding: 0px;
  font-family: 'Matao', serif;
  font-size: 2.5em;
}

.bordered-block .row .pieces > span{ display: block }

.bordered-block .row .pieces .number{
  padding: 8px 16px;
  border-right: 1px solid var(--olive);
}

.bordered-block .row .pieces .unit{
  font-size: .5em;
  text-transform: uppercase;
  text-orientation: upright;
  writing-mode: vertical-rl;
  text-align: center;
  letter-spacing: -6px;

  transform: translateY(-2px);
}

/*::::::::::::::::::  DESCRIPTION  ::::::::::::::::::*/

.bordered-block .row .description{
  font-size: .875em;
  line-height: 1.5;
}

.bordered-block .row > a,
.bordered-block .row button{
  display: flex;
    align-items: center;
    justify-content: space-between;
  width: 100%;
  border: none;
    border-bottom: 1px solid var(--olive);
  font-size: 1rem;
}

.bordered-block .row button{
  font-size: 1.75rem;
}

.bordered-block .row button:hover{ cursor: url('../MEDIA/ICONS/cursor-cirlce-hover-champagne.png') 12 12, auto }

.bordered-block .row button:last-child{ border-bottom: none }

.bordered-block .row .arrowed img{
  height: 24px;
}

/*::::::::::::::::::  OLIVE BLOBS  ::::::::::::::::::*/

.bordered-block svg.blob{
  position: absolute;
  z-index: 0;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  FULL                                                                   ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.bordered-block.full{
  max-width: 550px;
}

.bordered-block.full .row > h2{
  font-size: 2em;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  MINI                                                                   ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.bordered-block.mini .row img.product-img{
  width: 100%;
}

.bordered-block.mini .row img.product-img.one-liner{
  padding: 13px 0;
}

.bordered-block.mini .row > h3{
  padding: 8px;

  font-family: 'Matao', serif;
  font-size: 1.65em;
}

.bordered-block.mini .row .rating img{
  height: 12px;
}

.bordered-block.mini .row .price{
  font-size: 1.5em;
}

.bordered-block.mini .row a.arrowed{ border-bottom: none }

.bordered-block.mini .row button.to-cart{
  font-size: 1.5em;
}

@media (min-width: 400px){
  .bordered-block.mini .row .rating img{ height: 16px }
  .bordered-block.mini .row .price{ font-size: 2em }
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  HERO                                                                   ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

section.hero{
  position: relative;
  padding-top: 50px; /* For the Nav */
}

section.hero .big-hero-blobs{
  position: absolute;
  left: -330px;
  width: 36vw;
  bottom: -350px;
  transform: rotate(-45deg);
}

section.hero .big-hero-blobs svg{
  fill: var(--pine);
  width: 100%;
}

section.hero .content-wrap{
  max-width: 1200px;
}

section.hero .carousel-slide{
  position: relative;
}

section.hero .some-blobs{
  position: absolute;
  top: 0vh; left: 0vw;
  width: 40vw; height: 48vw;
}

section.hero .some-blobs svg{
  position: absolute;
  fill: var(--artichoke);
}

section.hero .some-blobs svg:first-of-type{
  top: 23%; left: -20%;
  width: 40%;
  transform: rotate(-8deg);
}

section.hero .some-blobs svg:nth-of-type(2){
  top: 0%; left: 0%;
  width: 31%;
  transform: rotate(12deg);
}

section.hero .some-blobs svg:nth-of-type(3){
  top: 14%; left: 9%;
  width: 80%;
  transform: rotate(-8deg);
}

section.hero .bordered-block{
  width: 100%;
  margin: 0 auto;
    margin-top: -24px;
}

section.hero .bordered-block .row > h2{
  font-size: 2.75em;
}

section.hero .img-wrap{
  position: relative;
  width: 100%;
    max-width: 625px;
  margin: 0 auto;
  z-index: 10; /* For blobs */
}

section.hero .img-wrap img{
  width: 100%;
}

section.hero .bordered-block svg.blob:first-of-type{
  fill: var(--pine);
  top: -110px; right: -105px;
  width: 300px;
  transform: rotate(10deg);
}

section.hero .bordered-block .blob:last-of-type{
  fill: var(--pasta);
  top: 10px; right: -111px;
  width: 161px;
  transform: rotate(-10deg);
}

section.hero .carousel .carousel-dots{
  display: flex;
    justify-content: center;
  margin-top: 16px;
}

section.hero .carousel .carousel-dots li{
  width: 10px; height: 10px;
  border: 1px solid var(--olive);
    border-radius: 50%;
  margin: 0 4px;
}

section.hero .carousel .carousel-dots li:first-of-type{ background: var(--olive) }

@media (min-width: 625px){
  section.hero .content-wrap{ padding-bottom: 32px }
}

@media (min-width: 800px){
  section.hero .some-blobs{ width: 25vw; height: 30vw }
  section.hero .content-wrap{ padding: 32px }
  section.hero .bordered-block{ margin-top: 0px }
  section.hero .carousel-slide{
    display: flex;
      align-items: center;
  }
}

@media (min-width: 1250px){
  section.hero .content-wrap{
    padding: 40px 32px 48px 32px;
  }
  section.hero .bordered-block.full{
    margin-top: 60px;
  }
}

@media (min-width: 1350px){ section.hero .some-blobs{ top: -10px; left: -20px; max-width: 350px; max-height: 458px } }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  FEATURED PRODUCTS                                                      ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

section.featured-products{
}

section.featured-products .content-wrap{
  width: 100%;
  max-width: 4000px;
  padding: 16px 0;
}

section.featured-products .carousel{
  overflow: hidden;
}

section.featured-products .carousel .slide-wrap{
  display: flex;
    justify-content: center;
  width: 350vw;
  transform: translateX(-125vw);
}

section.featured-products .carousel .carousel-slide{
  width: 50vw;
    max-width: 250px;
  margin: 0 4px;
}

section.featured-products .carousel .carousel-dots{
  display: flex;
    justify-content: center;
  margin-top: 16px;
}

section.featured-products .carousel .carousel-dots li{
  width: 12px; height: 12px;
  border: 1px solid var(--olive);
    border-radius: 50%;
  margin: 0 4px;
}

section.featured-products .carousel .carousel-dots li:nth-of-type(2){ background: var(--olive) }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  ABOUT                                                                  ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

section.about{
  border-bottom: none
}

section.about .img-wrap{
  position: relative;
  width: 100%;
    max-width: 750px;
  margin: 0 auto;
}

section.about .img-wrap img{
  width: 100%;
  border-bottom: 1px solid var(--olive);
}

section.about .content-block{
  position: relative;
  width: 100%;
  margin: -144px auto 0 auto;
  z-index: 99;
  border: 1px solid var(--olive);
}

section.about .content-block h2,
section.about .content-block p{
  background: var(--champagne);
  padding: 16px;

  color: var(--olive);
}

section.about .content-block h2{
  font-size: 2em;
}

section.about .content-block p{
  font-size: 1em;
  line-height: 1.5;
  border-top: 1px solid var(--olive);
}

section.about .content-block a.arrowed{
  display: flex;
    justify-content: space-between;
    align-items: center;
  background: var(--olive);
  padding: 8px 16px;

  font-size: 1.25em;
  color: var(--champagne);
}

section.about .content-block a.arrowed img{
  height: 24px;
}

section.about .content-block a.arrowed:hover{ cursor: url('../MEDIA/ICONS/cursor-cirlce-hover-champagne.png') 12 12, auto }

@media (min-width: 500px){
  section.about .content-block{
    width: 91.3%;
  }
}

@media (min-width: 750px){
  section.about{
    padding-top: 64px;
  }
  section.about .img-wrap{
    height: 480px;
    transform: translateX(-12vw);
    overflow: hidden;
  }

  section.about .img-wrap img{
    position: absolute;
    bottom: 0;
  }

  section.about .content-block{
    max-width: 575px;
    margin: -196px auto 0 auto;
    transform: translateX(15%);
  }

  section.about .content-block h2{
    font-size: 2.5em;
    padding: 16px 24px;
  }

  section.about .content-block p{
    font-size: 1.125em;
    padding: 24px;
  }

  section.about .content-block a.arrowed{
    padding: 16px 24px;
  }
}

@media (min-width: 1000px){
  section.about{
    padding-top: 128px;
    padding-bottom: 32px;
  }
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  PRODUCT GRID                                                           ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav.filter{
}

nav.filter .display{
  position: fixed;
  top: 51px;
  display: flex;
    justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid var(--olive);
  background: var(--champagne);
}

nav.filter .display button.show-filter{
  position: relative;
  padding: 16px 48px 14px 16px;
  border: none;
    border-right: 1px solid var(--olive);
  background: none;

  text-transform: uppercase;
  color: var(--olive);
  letter-spacing: 1px;
  font-weight: 700;
}

nav.filter .display button.show-filter::after{
  content: '';
  position: absolute;
  top: calc(50% - 5px); right: 16px;
  width: 8px; height: 8px;
  border-right: 2px solid var(--olive);
  border-bottom: 2px solid var(--olive);
  transform: rotate(45deg) translate(-3px,-1px);

  transition: transform .1s linear;
}

nav.filter .filter-label{ display: none }

nav.filter[data-state='active'] .display button.show-filter::after{
  transform: rotate(-135deg) translate(-2px, -2px);
}

nav.filter .filter-options-wrap{
  position: fixed;
  top: 100px;
  width: 100%; height: 0px;
  padding: 0px;
  background: var(--champagne);
  overflow: hidden;
  transition: height .1s linear;
}

nav.filter .filter-options{
  width: 100%;
  border-bottom: 1px solid var(--olive);
}

nav.filter .filter-options form{
  border-bottom: 1px solid var(--olive);
}

nav.filter .filter-options form .price{
  display: flex;
    align-items: center;
}

nav.filter .filter-options form label{
  min-width: 86px;
  padding: 8px 16px;
  border-right: 1px solid var(--olive);
  font-size: .9em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav.filter .filter-options form .cost{
  min-width: 38px;
  padding: 8px;
  font-size: .9em;
  border-right: 1px solid var(--olive);
  text-align: center;
}

nav.filter .filter-options form input[type='range']{
  -webkit-appearance: none;
    appearance: none;
  flex: 2;
  width: calc(50% - 16px);
  height: 1px;
  padding: 0px;
  margin: 0 8px;
  background: var(--olive);
}

nav.filter .filter-options form input[type='range']::-webkit-slider-thumb{
  appearance: none;
  width: 12px; height: 12px;
  background: var(--olive);
  border-radius: 50%;
}

nav.filter .filter-options p.cat-label{
  width: 100%;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--olive);
  font-size: .9em;
}

nav.filter .filter-options ul.filter-tags{
  display: flex;
    flex-wrap: wrap;
}

nav.filter .filter-options ul.filter-tags li{
  width: 33.333333%;
  text-align: center;
  border-right: 1px solid var(--olive);
  border-bottom: 1px solid var(--olive);
}

nav.filter .filter-options ul.filter-tags li:nth-of-type(3n){ border-right: none }
nav.filter .filter-options ul.filter-tags li:nth-of-type(n + 4){ border-bottom: none }

nav.filter .filter-options ul.filter-tags button{
  position: relative;
  background: none;
  width: 100%;
  padding: 8px;
  border: none;
  color: var(--olive);
}

nav.filter .filter-options ul.filter-tags button[data-state='active']::after{
  content: '';
  position: absolute;
  top: calc(50% - 4px);
  right: 16px;
  width: 8px; height: 8px;
  border-radius: 50%;
  background: var(--olive);
}

nav.filter .filter-options ul.filter-tags button:hover{
  background: var(--olive);
  color: var(--champagne);
}

nav.filter .filter-options ul.filter-tags button[data-state='active']:hover::after{ background: var(--champagne) }

section.storefront{
  border-bottom: none;
  min-height: 800px;
}

section.storefront .content-wrap{
  max-width: 1400px;
}

section.storefront .product-grid{
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
  width: 100%;

  padding: 0px;
    padding-top: 96px;
}

section.storefront .product-grid .bordered-block{
  width: calc(50% - 16px);
    max-width: 250px;
  margin: 8px;
}

section.storefront .product-grid .product[data-state='hide']{ display: none }

section.storefront .product-grid .bordered-block .price{ font-size: 1.75em }

section.storefront .product-grid .bordered-block.mini .row .rating img{ height: 12px }

section.storefront .no-products{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

section.storefront .no-products[data-state='hide']{ display: none }

@media (min-width: 750px){
  section.storefront .product-grid{ padding: 64px; padding-top: 120px }
}

@media (min-width: 840px){
  nav.filter .display{ display: none }

  nav.filter .filter-label{
    display: block;
    border-bottom: 1px solid var(--olive);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 16px 6px 16px;
  }

  nav.filter .filter-options-wrap{
    top: 51px;
    width: 250px;
    height: calc(100vh - 50px);
    border-right: 1px solid var(--olive);
  }

  nav.filter .filter-options ul.filter-tags li{ width: 100% }
  nav.filter .filter-options ul.filter-tags li:nth-of-type(n + 4){ border-bottom: 1px solid var(--olive) }
  nav.filter .filter-options ul.filter-tags li{ border-right: none }
  nav.filter .filter-options ul.filter-tags li:last-of-type{ border-bottom: none }

  nav.filter .filter-options ul.filter-tags li button{ text-align: left; padding-left: 16px; }

  section.storefront{ padding-left: 282px }
  section.storefront .product-grid{ padding: 64px 16px 32px 16px }
}

@media (min-width: 900px){
  section.storefront .product-grid .bordered-block.mini .row .rating img{ height: 16px }
  section.storefront .product-grid .bordered-block .price{ font-size: 2em }
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  FOOTER                                                                 ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

footer{
  display: flex;
    align-items: flex-end;
  margin-top: 48px;
  padding: 48px 8px 8px 8px;
  background: var(--olive);
  color: var(--champagne);
}

footer .left,
footer .right{
  width: 50%;
}

footer .right{
  text-align: right;
}

footer .logo{
  display: flex;
    align-items: center;
}

footer .logo img{
  height: 48px;
  margin-right: 8px;
}

footer .logo p{
  font-family: 'Matao', serif;
  font-size: 1.75em;
}

footer .contact{
  margin-top: 32px;
}

footer .contact h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

footer .contact ul{
  margin-top: 8px;
  font-size: .875em;
}

footer .contact ul li{
  margin-bottom: 8px;
}

footer .contact ul li:last-of-type{
  margin-bottom: 0;
}

footer ul.footer-link-list{
  display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

footer ul.footer-link-list li{
  width: 100%;
  margin: 8px 0 0 8px;
  font-size: .875em;
  font-weight: 700;
  text-transform: uppercase;
}

footer ul.footer-link-list li a{
  color: var(--champagne);
}

footer .copy{
  margin-top: 8px;
  font-size: .875em;
}

@media (min-width: 725px){
  footer{ padding-left: 32px; padding-right: 32px; padding-bottom: 16px; }
}

@media (min-width: 840px){
  body.storefront-page footer{ padding-left: 282px }
}